.App {
  text-align: center;
  background-color: black;
  color: lime;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  margin: auto;
  padding: 10px;
  color: lime;
}

.album-pic {
  max-width: 45%;
  height: auto;
}

#song-list {
  color: lime;
}

table {
  border-collapse: collapse;
  display:flex;
  justify-content: center;
  padding: 30px;
}

td {
  border: 1px solid white;
  padding: 10px;
}

#time-control {
  float: none;
  background-color: black;
}

#volume-control {
  float: none;
  background-color: black;
}

.player-bar {
  background-color: black;
}

#buttons {
  float: none;
  padding: 15px 32px;
  font-size: 24px;
}
